* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: mariofont;
    src: url(./assets/SuperMario256.ttf);
}

.gameboard {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#87ceeb, #e0f6ff);
    position: relative;
    overflow: hidden;
    border-bottom: solid green 75px;
}

.plant {
    position: absolute;
    height: 250px;
    bottom: 0;
    right: -300px;
}

.moveplant {
    animation: plant 2s infinite linear;
}

@keyframes plant {
    from {
        right: -300px;
    }

    to {
        right: 100%;
    }
}

.mario {
    position: absolute;
    bottom: 0;
    height: 300px;
}

.jump {
    animation: jump 800ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 300px;
    }

    50% {
        bottom: 300px;
    }


    60% {
        bottom: 300px;
    }

    100% {
        bottom: 0px;
    }
}

.clouds {
    position: absolute;
    width: 250px;
    animation: clouds 16s infinite linear;
}

@keyframes clouds {
    from {
        right: -250px;
    }

    to {
        right: 100%;
    }
}

#play {
    font-family: mariofont;
    font-size: 196px;
    text-align: center;
    color: white;
    cursor: default;
    visibility: visible;
    animation: intermittent infinite 1s linear;
    margin-top: 300px;
}

#replay {
    font-family: mariofont;
    font-size: 196px;
    text-align: center;
    color: white;
    cursor: default;
    animation: intermittent infinite 1s linear;
    visibility: hidden;
    margin-top: -196px;
}

@keyframes intermittent {
    0% {
        opacity: 10%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 10%;
    }

}

@media screen and (max-width: 1400px) {

    .gameboard {
        border-bottom: solid green 75px;
    }

    #play {
        font-size: 136px;
        margin-top: 200px;
    }

    #replay {
        font-size: 136px;
        margin-top: -120px; 
    }
}

@media screen and (max-width: 900px) {

    .gameboard {
        border-bottom: solid green 25px;
    }

    .clouds {
        width: 150px;
        margin-top: 7%;
    }

    #play {
        font-size: 124px;
        margin-top: 20px;
    }

    #replay {
        top: 170px;
        margin-top: -260px;
    }

    .mario {
        height: 150px;
    }

    .plant {
        height: 125px;
    }

    @keyframes jump {
        0% {
            bottom: 0;
        }

        40% {
            bottom: 150px;
        }

        50% {
            bottom: 150px;
        }


        60% {
            bottom: 150px;
        }

        100% {
            bottom: 0px;
        }
    }

}

@media screen and (max-width: 415px) {

    .gameboard {
        border-bottom: solid green 120px;
    }

    .clouds {
        width: 150px;
        margin-top: 20%;
    }

    #play {
        font-size: 120px;
        margin-top: 170px;
    }

    #replay {
        font-size: 100px;
        margin-top: -290px;
    }
}

@media screen and (max-width: 376px){
    #play {
        margin-top: 0px;
    }

    #replay {
        margin-top: -320px;
    }

}