* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameboard {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#87ceeb, #e0f6ff);
    position: relative;
    overflow: hidden;
    border-bottom: solid green 75px;
}

.plant {
    position: absolute;
    height: 250px;
    bottom: 0;
    animation: plant 2s infinite linear;
}

@keyframes plant {
    from{
        right: -300px;
    }

    to {
        right: 100%;
    }
}

.mario {
    position: absolute;
    bottom: 0;
    height: 300px;
}

.jump {
    animation: jump 800ms ease-out;
}

@keyframes jump {
    0%{
       bottom: 0;
    }

   40% {
       bottom: 300px;
   }

   50% {
    bottom: 300px;
}


    60% {
        bottom: 300px;
    }

    100%{
        bottom: 0px;
    }
}

.clouds {
    position: absolute;
    width: 250px;
    animation: clouds 8s infinite linear;
}

@keyframes clouds {
    from{
        right: -500px;
    }

    to {
        right: 100%;
    }
}